openapi: 3.1.0

info:
  title: RepoReconnoiter API
  version: 1.0.0
  description: |
    REST API for RepoReconnoiter - AI-powered GitHub repository comparison and discovery platform.

    ## Features
    - Search and filter repository comparisons
    - AI-generated repository recommendations
    - Category-based browsing
    - Real-time comparison creation progress via WebSocket

    ## Real-Time Updates (WebSocket)

    For async operations like comparison creation and deep analysis, you can receive real-time progress updates via ActionCable WebSocket.

    **WebSocket Connection URL:**
    - Production: `wss://api.reporeconnoiter.com/cable?token=<JWT>`
    - Development: `ws://localhost:3001/cable?token=<JWT>`

    **Authentication (REQUIRED):**
    - ✅ JWT token MUST be passed as URL query parameter: `?token=<JWT>`
    - ✅ Connection will be rejected without valid JWT
    - ✅ Use same JWT from `/api/v1/auth/exchange` endpoint

    **Authorization (Ownership Verification):**
    - ✅ Users can ONLY subscribe to their own session_ids
    - ❌ Attempting to subscribe to another user's session will be rejected
    - ✅ Protects against unauthorized access to real-time progress data

    **Available Channels:**

    1. **ComparisonStatusChannel** - Comparison creation progress
    2. **ComparisonProgressChannel** - Alternative comparison progress channel
    3. **AnalysisProgressChannel** - Deep repository analysis progress

    **Example: Subscribe to ComparisonStatusChannel:**
    ```javascript
    import { createConsumer } from '@rails/actioncable'

    // Get JWT from /api/v1/auth/exchange
    const jwt = 'eyJhbGc...'

    // Connect with JWT in URL
    const cable = createConsumer(`wss://api.reporeconnoiter.com/cable?token=${jwt}`)

    // Subscribe to your own session (from POST /comparisons response)
    const subscription = cable.subscriptions.create(
      { channel: 'ComparisonStatusChannel', session_id: 'uuid-from-create-response' },
      {
        received(data) {
          // data.type: "progress" | "complete" | "error"
          // data.message, data.step, data.percentage, etc.
          console.log('Progress update:', data)
        }
      }
    )
    ```

    **Message Types:**
    - `progress`: Incremental progress update (includes step, message, percentage)
    - `complete`: Operation finished (includes comparison_id or analysis_id, redirect_url)
    - `error`: Operation failed (includes error message)

    **Subscription Response:**
    - Confirmed: `{"type":"confirm_subscription","identifier":"..."}`
    - Rejected: `{"type":"reject_subscription","identifier":"..."}` (unauthorized)

    **Fallback:** If WebSocket is not available, use REST polling:
    - Comparisons: `GET /comparisons/status/:session_id`
    - Analysis: `GET /repositories/status/:session_id`

    ## Authentication

    **Two-level authentication system:**

    ### 1. App-Level Authentication (Required for all endpoints)
    - **API Key:** Add `Authorization: Bearer <API_KEY>` header to all requests
    - **Purpose:** Proves request is from an authorized application
    - **Server-side only** - never expose key in browser/client code
    - Contact admin to obtain a 64-character API key
    - Keys can be revoked without code changes
    - Usage is tracked for analytics

    ### 2. User-Level Authentication (Required for user-specific endpoints)
    - **JWT Token:** Add `X-User-Token: <JWT>` header for user-authenticated endpoints
    - **Purpose:** Proves which user is making the request
    - **How to get JWT:** Call `/api/v1/auth/exchange` with GitHub OAuth token
    - JWT expires after 24 hours (refresh by exchanging GitHub token again)

    ### Authentication Flow
    1. User authenticates with GitHub OAuth (handled by your frontend)
    2. Frontend exchanges GitHub token for JWT via `/api/v1/auth/exchange`
    3. Frontend includes both API key + JWT in subsequent requests

    ### Public Endpoints (No Authentication)
    - `/api/v1` - API root (discovery endpoint)
    - `/api/v1/openapi.json` - OpenAPI JSON specification
    - `/api/v1/openapi.yml` - OpenAPI YAML specification

    ### Rate Limiting
    - Without valid API key: **Requests will be rejected with 401 Unauthorized**
    - With valid API key: **Unlimited** requests (no rate limiting)

  contact:
    name: API Support
    url: https://reporeconnoiter.com
  license:
    name: MIT

servers:
  - url: https://reporeconnoiter.com/api/v1
    description: Production server
  - url: http://localhost:3001/api/v1
    description: Local development server

tags:
  - name: Authentication
    description: User authentication and JWT token management
  - name: Comparisons
    description: Repository comparison operations
  - name: Repositories
    description: Repository browsing and deep analysis operations
  - name: Profile
    description: User profile and usage statistics
  - name: Admin
    description: Administrative endpoints (admin role required)

paths:
  /auth/exchange:
    $ref: './paths/auth.yml'
  /comparisons:
    $ref: './paths/comparisons.yml'
  /comparisons/{id}:
    $ref: './paths/comparison_show.yml'
  /comparisons/status/{session_id}:
    $ref: './paths/comparison_status.yml'
  /repositories:
    $ref: './paths/repositories.yml'
  /repositories/{id}:
    $ref: './paths/repository_show.yml'
  /repositories/{id}/analyze:
    $ref: './paths/repository_analyze.yml'
  /repositories/analyze_by_url:
    $ref: './paths/repository_analyze_by_url.yml'
  /repositories/status/{session_id}:
    $ref: './paths/repository_status.yml'
  /profile:
    $ref: './paths/profile.yml'
  /admin/stats:
    $ref: './paths/admin_stats.yml'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API key authentication for trusted clients (server-side only).

        **How to use:**
        1. Contact admin to obtain a 64-character API key
        2. Add to `Authorization` header: `Bearer <API_KEY>`
        3. **Server-side only** - never expose in browser/client code

        **Benefits:**
        - Bypasses rate limits (100/hour → unlimited)
        - Usage tracking and analytics
        - Revocable without code changes

        **Example:**
        ```
        Authorization: Bearer 266eda3d711399ca87ab19dfbebff1ad2430d7b374a50577eea057de1ad0224a
        ```

    UserAuth:
      type: apiKey
      in: header
      name: X-User-Token
      description: |
        JWT token for user-level authentication.

        **How to use:**
        1. User authenticates with GitHub OAuth (in your app)
        2. Exchange GitHub token for JWT via `/api/v1/auth/exchange`
        3. Add JWT to `X-User-Token` header for user-authenticated requests

        **Token Lifespan:** 24 hours (refresh by exchanging GitHub token again)

        **Example:**
        ```
        X-User-Token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        ```

  schemas:
    Comparison:
      $ref: './schemas/Comparison.yml'
    Category:
      $ref: './schemas/Category.yml'
    Repository:
      $ref: './schemas/Repository.yml'
    PaginationMeta:
      $ref: './schemas/PaginationMeta.yml'
    Error:
      $ref: './schemas/Error.yml'
